@model Assignment.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" type="radio" value="M" />Male
                <input asp-for="Gender" type="radio" value="F" />Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegistered" class="control-label"></label>
                <input asp-for="DateRegistered" class="form-control" />
                <span asp-validation-for="DateRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDays" class="control-label"></label>
                <ul>
                    @for (var i = 0; i < 3; i++)
                    {
                        <li>
                            <input type="checkbox" name="Event" value="Day @(i+1)"/>
                            <label>Day @(i+1)</label>
                        </li>
                    }
                </ul>
                <span asp-validation-for="EventDays" class="text-danger"></span>
                <input asp-for="EventDays" type="hidden" value="Day3" />
            </div>
            <div class="form-group">
                <label asp-for="AdditionalReq" class="control-label"></label>
                <input asp-for="AdditionalReq" class="form-control" />
                <span asp-validation-for="AdditionalReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
