@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sidhartha Sankar Prusty.</p>
<a href="https://sidharthaprusty.github.io" target="_blank">View my Portfolio</a>