@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    HSR Layout<br />
    Bengaluru, Karnataka<br />
    <abbr title="Phone">P:</abbr>
    7873391346
</address>

<address>
    <strong>Email:</strong> <a href="mailto:siddharth.prusty@gmail.com">siddharth.prusty@gmail.com</a><br />
    <strong>Portfolio:</strong> <a href="https://sidharthaprusty.github.io" target="_blank">View My Portfolio</a>
</address>
